.eCEgN {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    font-family: Rocketfont;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgb(250, 250, 250);
    text-shadow: rgb(138, 138, 138) 0px 0px 20px;
    display: grid;
    -webkit-box-pack: center;
    place-content: center;
    grid-auto-rows: max-content;
    text-transform: uppercase;
    font-variant-numeric: tabular-nums;
    background: linear-gradient(263.87deg, rgb(148, 78, 245) 0%, rgb(92, 36, 252) 100%);
    box-shadow: rgba(25, 201, 245, 0.1) 0px 10px 20px, rgba(92, 36, 252, 0.1) 0px 10px 20px, rgb(148, 78, 245) 0px -2px 4px inset, rgba(148, 78, 245, 0.6) 0px -8px 8px inset;
    cursor: pointer;
}
.cfDeYr {
    background: rgb(27, 21, 54);
    border-radius: 14px;
    height: 100%;
    border: none;
    padding: 3px;
    position: relative;
}

.cfDeYr::after {
    content: "";
    position: absolute;
    width: 101px;
    height: 3px;
    bottom: -10px;
    left: calc(50% - 50.5px);
    border-radius: 12px 12px 0px 0px;
    background: linear-gradient(263.87deg, rgb(148, 78, 245) 0%, rgb(92, 36, 252) 100%);
}

.bQyHBg {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    font-family: Rocketfont;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgb(250, 250, 250);
    text-shadow: rgb(138, 138, 138) 0px 0px 20px;
    display: grid;
    -webkit-box-pack: center;
    place-content: center;
    grid-auto-rows: max-content;
    text-transform: uppercase;
    font-variant-numeric: tabular-nums;
    background: linear-gradient(263.87deg, rgb(245, 78, 118) 0%, rgb(252, 36, 75) 100%);
    box-shadow: rgba(245, 25, 65, 0.1) 0px 10px 20px, rgba(252, 36, 101, 0.1) 0px 10px 20px, rgb(245, 78, 118) 0px -2px 4px inset, rgba(245, 78, 128, 0.6) 0px -8px 8px inset;
    cursor: pointer;
}

.jTepev {
    background: rgb(27, 21, 54);
    border-radius: 14px;
    height: 100%;
    border: none;
    padding: 3px;
    position: relative;
}

.jTepev::after {
    content: "";
    position: absolute;
    width: 101px;
    height: 3px;
    bottom: -10px;
    left: calc(50% - 50.5px);
    border-radius: 12px 12px 0px 0px;
    background: linear-gradient(263.87deg, rgb(245, 78, 118) 0%, rgb(252, 36, 75) 100%);
}


.WbBBF {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    font-family: Rocketfont;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgb(250, 250, 250);
    text-shadow: rgb(138, 138, 138) 0px 0px 20px;
    display: grid;
    -webkit-box-pack: center;
    place-content: center;
    grid-auto-rows: max-content;
    text-transform: uppercase;
    font-variant-numeric: tabular-nums;
    cursor: pointer;
}

.bcklQT {
    background: rgb(27, 21, 54);
    border-radius: 14px;
    height: 100%;
    border: none;
    padding: 3px;
    position: relative;
}

.bcklQT:disabled {
    opacity: 0.8;
    pointer-events: none;
}

.bcklQT::after {
    content: "";
    position: absolute;
    width: 101px;
    height: 3px;
    bottom: -10px;
    left: calc(50% - 50.5px);
    border-radius: 12px 12px 0px 0px;
}


.lbOJTu {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    font-family: Rocketfont;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgb(250, 250, 250);
    text-shadow: rgb(138, 138, 138) 0px 0px 20px;
    display: grid;
    -webkit-box-pack: center;
    place-content: center;
    grid-auto-rows: max-content;
    text-transform: uppercase;
    white-space: pre-line;
    font-variant-numeric: tabular-nums;
    background: linear-gradient(263.87deg, rgb(253, 187, 78) 0%, rgb(245, 103, 25) 100%);
    box-shadow: rgba(253, 187, 78, 0.1) 0px 10px 20px, rgba(253, 187, 78, 0.1) 0px 10px 20px, rgb(253, 187, 78) 0px -2px 4px inset, rgba(253, 187, 78, 0.6) 0px -8px 8px inset;
    cursor: pointer;
}

.qrpMI {
    background: rgb(27, 21, 54);
    border-radius: 14px;
    height: 100%;
    border: none;
    padding: 3px;
    position: relative;
}

.qrpMI::after {
    content: "";
    position: absolute;
    width: 101px;
    height: 3px;
    bottom: -10px;
    left: calc(50% - 50.5px);
    border-radius: 12px 12px 0px 0px;
    background: linear-gradient(263.87deg, rgb(253, 187, 78) 0%, rgb(245, 103, 25) 100%);
}

.iWlaNO {
    height: 65px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px;
    background: rgb(41, 24, 84);
    border-radius: 16px;
    border: 1px solid rgb(120, 57, 248);
}

.guNMaT {
    margin-left: 6px;
    margin-right: 10px;
    white-space: nowrap;
}

.nogVS {
    width: 132px;
    height: 49px;
    background: linear-gradient(263.87deg, rgb(148, 78, 245) 0%, rgb(92, 36, 252) 100%), rgb(117, 62, 194);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    text-align: center;
}

.nogVS h2 {
    font-family: Rocketfont;
    padding-top: 2px;
    font-size: 16px;
    margin: 1px 0px -1px;
    line-height: 28px;
    height: 21px;
    font-weight: normal;
}

.nogVS span {
    font-family: Manrope;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: -0.0023em;
    font-weight: normal;
}

.guNMaT span {
    font-family: Manrope;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.0011em;
    font-weight: normal;
    color: rgb(223, 229, 242);
}

.guNMaT h2 {
    font-family: Rocketfont;
    font-size: 18px;
    line-height: 20px;
    margin: 0px;
    color: white;
    font-weight: normal;
}
