.news {
  display: inline-block;
  position: relative;
  width: 45%;
  min-width: 270px;
  height: 7vw;
  min-height: 130px;
  margin: 5px;
  border-radius: 10px;
  transition: 0.2s ease;
  overflow: hidden;
}

.news:hover {
  box-shadow: 4px 5px 6px #06102673;
  transition: 0.2s ease;
}

.news:hover .imgNews {
  transform: scale(1.05);
  transition: 0.3s ease-out;
}

.news:hover .gradient {
  transition: 0.001s ease;
  opacity: 0;
}

.imgNews {
  width: 100%;
  transition: 0.15s ease-out;
}

.gradient {
  width: 100%;
  min-width: 270px;
  height: 7vw;
  min-height: 130px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to top, #000 -10%, rgba(0, 0, 0, 0) 70%);
  transition: 0.35s ease-in-out;
  opacity: 100;
}

.textNews {
  position: absolute;
  top: auto;
  bottom: 10px;
  right: auto;
  left: 15px;
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
  color: white;
  font-size: 17pt;
}

.note {
  text-align: justify;
  background: #001a640d;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #001a6429;
}

.ssilkabutt {
  text-decoration: none;
  color: #FFFF;
  background-color: rebeccapurple;
  padding: 10px;
  border-top: white solid 2px;
  transition: 0.3s ease-in-out;
}

.ssilkabutt:hover {
  border-top: rgb(165, 214, 255) solid 2px;
  color: #20a6ffb5;
  transition: 0.3s ease-in-out;
}


/* выпадающий список */
.buttContainer {
  grid-template-columns: 20% 20%;
  display: grid;
  grid-column-gap: 20%;
  justify-content: center;
}

.sovet {
  position: relative;
  text-align: center;
  font-size: 14pt;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #ffff;
  align-content: center;
}

.sovet[open] {
  height: var(--sovet-height);
  overflow: hidden;
  margin-bottom: 10px;
  background: #157fc4b5;
  border-radius: 10px;
  text-align: center;
  transition: 0.5s ease-out;
}

.sovet:not([open]):hover {
  color: #e7f9ff;
  font-size: 14pt;
  font-weight: 300;
  /* height: 30px; */
  border-radius: 7px;
  transition: 0.2s ease;
}

.sovet:not([open]) {
  font-weight: 100;
  margin-bottom: 5px;
  background-color: white;
  /* height: 30px; */
  transition: 0.3s ease;
  background: #157fc4b5;
  border-radius: 7px;
}

/* убирает треугольник слева от вып списка */
details>summary {
  list-style: none;
  position: relative;
  line-height: 30pt;

  /* отключает выделение текста */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}