.news {
  display: inline-block;
  position: relative;
  width: 45%;
  min-width: 270px;
  height: 7vw;
  min-height: 130px;
  margin: 5px;
  border-radius: 10px;
  transition: 0.2s ease;
  overflow: hidden;
}

.news:hover {
  box-shadow: 4px 5px 6px #06102673;
  transition: 0.2s ease;
}

.news:hover .imgNews {
  transform: scale(1.05);
  transition: 0.3s ease-out;
}

.news:hover .gradient {
  transition: 0.001s ease;
  opacity: 0;
}

.imgNews {
  width: 100%;
  transition: 0.15s ease-out;
}

.gradient {
  width: 100%;
  min-width: 270px;
  height: 7vw;
  min-height: 130px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to top, #000 -10%, rgba(0, 0, 0, 0) 70%);
  transition: 0.35s ease-in-out;
  opacity: 100;
}

.textNews {
  position: absolute;
  top: auto;
  bottom: 10px;
  right: auto;
  left: 15px;
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
  color: white;
  font-size: 17pt;
}

.note {
  text-align: justify;
  background: #001a640d;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #001a6429;
}

.ssilkabutt {
  text-decoration: none;
  color: #FFFF;
  background-color: #219df0;
  padding: 10px;
  margin: 5px;
  margin-top: 10px;
  font-size: 12pt;
  border-top: white solid 3px;
  border-radius: 5px;
  text-shadow: 0px 0px 0px #12265273;
  transition: 0.1s ease-in-out;
}

.ssilkabutt:hover {
  border-top: rgb(7, 143, 255) solid 3px;
  text-shadow: 4px 2px 4px #1226524f;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}


/* выпадающий список */
.buttContainer {
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  align-items: start;
  grid-template-columns: 30% 30%;
  grid-auto-columns: minmax(991px, auto);
  display: grid;
  grid-column-gap: 50px;
  justify-content: center;
}

.sovet {
  position: relative;
  text-align: center;
  font-size: 15pt;
  width: 100%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  color: #ffff;
  align-content: center;
  background: linear-gradient(90deg, rgba(21, 127, 196, 1) 0%, rgba(98, 30, 207, 1) 48%, rgba(176, 75, 218, 1) 100%);
}

.sovet[open] {
  height: var(--sovet-height);
  overflow: hidden;
  margin-bottom: 10px;
  background: snow;
  border-radius: 10px;
  text-align: center;
  cursor: default;
  font-size: 16pt;
  background: linear-gradient(40deg, rgba(21, 127, 196, 1) 0%, rgba(98, 30, 207, 1) 30%, rgba(176, 75, 218, 1) 90%);
  background-size: 200%;
  animation: animgrad 7s linear infinite;
  transition: 0.1s ease-in-out;
}

.sovet:not([open]):hover {
  font-size: 16pt;
  cursor: pointer;
  transition: 0.2s ease;
}

.sovet:not([open]) {
  margin-bottom: 5px;
  transition: 0.1s ease-in-out;
  border-radius: 5px;
}

/* убирает треугольник слева от вып списка */
details>summary {
  list-style: none;
  position: relative;
  line-height: 30pt;

  /* отключает выделение текста */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}

@keyframes animgrad {
  0% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

.butt {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  min-width: 270px;
  font-size: 14pt;
  text-decoration: none;
  background: linear-gradient(90deg, rgba(21, 127, 196, 1) 0%, rgba(98, 30, 207, 1) 48%, rgba(176, 75, 218, 1) 100%);
  background-size: 200%;
  animation: animgrad 10s infinite linear;
  padding: 10px;
  color: #FFFF;
  border-radius: 3vw;
  text-align: center;
  transition-duration: .2s;
}